<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}问答学院 {% end %}</title>
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ static_url('font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ static_url('css/form-elements.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/style.css') }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{{ static_url('ico/favicon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static_url('ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static_url('ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static_url('ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ static_url('ico/apple-touch-icon-57-precomposed.png') }}">
    </head>
    <body>
	<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">问答学院</a>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/question/list"><strong>问题</strong></a>
                </li>
                <li>
                    <a href="/user/list"><strong>用户</strong></a>
                </li>
                <li>
                    <a href="/tag/list"><strong>标签</strong></a>
                </li>
				<li>
                    <a href="{% if username %}/auth/logout{% else %}/auth/login{% end %}"><b>{% if username %}{{ username }}{% else %}登录{% end %}</b></a>
				</li>
            </ul>
        </div>
    </div>
	</nav>
    {% if message %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if err == 'success' %}
            <div class="alert alert-success">{{ message }}</div>
            {% elif err == 'warning' %}
            <div class="alert alert-warning">{{ message }}</div>
            {% elif err == 'danger' %}
            <div class="alert alert-danger">{{ message }}</div>
            {% end %}
        </div>
        <div class="col-md-2"></div>
    </div>
    {% end %}
	{% block body %}
	{% end %}
	<!-- Javascript -->
	<script src="{{ static_url('js/jquery-1.11.1.min.js') }}"></script>
	<script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ static_url('js/jquery.backstretch.min.js') }}"></script>
	<script src="{{ static_url('js/retina-1.1.0.min.js') }}"></script>
	<script src="{{ static_url('js/scripts.js') }}"></script>
    <script src="{{ static_url('js/login.js') }}"></script>
    <script src="{{ static_url('js/question.js') }}"></script>
	<!--[if lt IE 10]>
	<script src="{{ static_url('js/placeholder.js') }}"></script>
	<![endif]-->
    </body>
</html>