{% extends 'base.html' %}
{% block title %}首页{% end %}
{% block body %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="container">
            <div class="list-group" id="question-list">
            </div>
            <div class="btn-group">
                <button id="preQuestions" style="margin-right: 100px" class="btn btn-info">上一页</button>
                <button id="nextQuestions" style="margin-left: 100px" class="btn btn-info">下一页</button>
            </div>
        </div>
    </div>
    智慧星答题测试系统 | <a href="http://www.mingrisoft.com">明日科技</a> | 吉林省明日科技有限公司Copyright ©2007-2018, mingrisoft.com, All Rights Reserved 吉ICP备10002740号-2
    <div class="col-md-2"></div>
</div>
{% end %}