{% extends 'base.html' %}
{% block title %}首页{% end %}
{% block body %}
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="container">
            <a href="/question/create" class="btn btn-primary" style="float: left">我要提问</a>
            <div style="margin-top: 50px" class="list-group" id="question-list">
            </div>
            <div class="btn-group" style="float: left">
                <button id="preQuestions" class="btn btn-info">上一页</button>
                <button id="nextQuestions" class="btn btn-info">下一页</button>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<script src="{{ static_url('js/question.js') }}"></script>
{% end %}